@layout('layout/main')
@section('content')

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>業務DemoPage管理</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{{route('/business/demopage/add')}}" class="btn btn-outline-success">新增網站</a>
            </div>
        </div>
    </div>

@endsection